* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
}
main {
  height: 80%;
}
header {
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(6, 110, 11);
}
a {
  color: rgb(6, 110, 11);
  text-decoration: none;
  font-weight: 700;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.overview {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

/* dashboard styles */

.dashboard {
  display: grid;
  width: 100%;
  grid-template-columns: 200px 900px 200px;
  grid-template-rows: 1fr;
  align-items: center;
  overflow-x: auto;
  gap: 2rem;

}
.dashboard .nav{
  display: flex;
  flex-direction: column;
}
.links{
  display: flex;
  flex-direction: column;
}
/* .remarks{
  padding-left: 1rem;
} */
.remarks h3{
  margin-top: 2rem;
}
/* home cards */
.monthly-cards {
  border-left: 1px solid red;
  padding: 1rem;
}
footer {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(6, 110, 11);
  padding: 20px;
  height: 30px;
}
