

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
  
}

.box-red {
  background-color: red;
  width: 200px;
  height: 200px;
  border-radius: 2px;
}
