body {
  text-align: center;
  margin: 0;
  padding: 0;
}
a{
    color: white;
    text-decoration: none;
}

div a{
    padding: 1rem;
}
img {
  width: 500px;
}

p {
  align-self: center;
}
table {
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
  margin-top: 0;
  padding: 2rem;
}

.landing-text {
  display: flex;
  justify-content: space-around;
  width: 100%;
}